Repository Rakib047/Cloudly-Alpha-AI-Team-2, pull requests merged in 2025-05, with the labels that each got.

#20 Fix: Relocate Week 1 report
  Weekly Progress Report/Week1-(22 April, 2025-25 April, 2025)/Weekly-Report-Week-1-Mucha.pdf
Labels: bug, documentation

#27 Week-2-Progress-Report-Tasnuba-Islam
  Weekly Progress Report/Weekly-Report-Week-2-Tasnuba-Islam.pdf
Labels: Weekly Report

#32 OOP Combined Documentation
  Master Files/Object-Oriented-Programming-Master.ipynb
Labels: documentation

#31 Week 2 Progress Report
  Weekly Progress Report/Week2-(28 April, 2025-2 May, 2025)/Weekly-Report-Week-2-Mucha.pdf
Labels: documentation

#25 Week 2 Progress Report
  Weekly Progress Report/Week2-(28 April,2025-2 May,2025)/Weekly-Report-Week-2-Nusrat-Jahan-Nuha.pdf
Labels: documentation

#26 Documentation of Advanced Learning Algorithms
  Machine Learning Specialization/Advanced Learning Algorithm/Documentation-Advanced-Learning-Algorithm-Mucha.md
  Object Oriented Programming/.gitkeep
  Object Oriented Programming/Documentation-Object-Oriented-Programming-Tasnuba-Islam.ipynb
Labels: documentation

#34 Documentation of Unsupervised Machine Learning Course
  Machine Learning Specialization/Unsupervised Learning, Recommenders, Reinforcement Learning/.gitkeep
  Machine Learning Specialization/Unsupervised Learning, Recommenders, Reinforcement Learning/Documentation-Unsupervised-Ml-Rakib-Abdullah.md
Labels: documentation

#35 Week 2 Progress Report
  Weekly Progress Report/Week2-(28 April, 2025-2 May, 2025)/Weekly-Report-Week-2-Nusrat-Jahan-Nuha.pdf
Labels: bug

#36 Weekly-Report-Tasnuba
  Weekly Progress Report/Week2-(28 April, 2025-2 May, 2025)/Weekly-Report-Week-2-Tasnuba-Islam.pdf
Labels: Weekly Report

#33 Week-2 Progress Report Imtiaz Ahammed
  Weekly Progress Report/Week2-(28 April, 2025-2 May, 2025)/Weekly-Report-Week-2-Imtiaz-Ahammed.pdf
Labels: Weekly Report

#41 Update README.md
  README.md
Labels: enhancement

#38 OOP-Documentation-Tasnuba-Islam
  Object Oriented Programming/Documentation-Object-Oriented-Programming-Tasnuba-Islam.ipynb
Labels: documentation

#40 Documentation of Advanced Learning Algorithms
  Machine Learning Specialization/Advanced Learning Algorithm/Documentation-Advanced-Learning-Algorithm-Nuha.md
Labels: documentation

#52 Documentation of Git and GitHub
  Git and Github/Documentation-Git-Github-Nuha.md
Labels: documentation

#51 Week 3 Progress Report
  Weekly Progress Report/Week3-(5 May, 2025-9 May, 2025)/Weekly-Report-Week-3-Nusrat-Jahan-Nuha.pdf
Labels: Weekly Report

#49 Git and Github Documentation for Tasnuba
  Documentation-Git-Github-Tasnuba.md
Labels: documentation

#53 Week 3 Progress Report
  Weekly Progress Report/Week3-(5 May, 2025-9 May, 2025)/Weekly-Report-Week-3-Mucha.pdf
Labels: documentation

#46 Documentation of Git and GitHub
  Git and Github/Documentation-Git-Github-Mucha.md
Labels: documentation

#42 Documentation of Mathematics for Machine Learning: Linear Algebra
  Mathematics for Machine Learning Specialization/Linear Algebra/Documentation-Linear-Algebra-Mucha.md
Labels: documentation

#57 Week 4 Progress Report
  Weekly Progress Report/Week4-(12 May, 2025-16 May, 2025)/Weekly-Report-Week-4-Mucha.pdf
Labels: Weekly Report

#56 Week 4 Progress Report
  Weekly Progress Report/Week4-(12 May, 2025-16 May, 2025)/Weekly-Report-Week-4-Nusrat-Jahan-Nuha.pdf
Labels: Weekly Report
